// this @extend is allowing me to bring in a container setup from the _placholders.scss
// with out having to add anymore html markup...and is reusable.

// these are some fallbacks just in case
.about-me {
  @include container;
  @include clearfix; // provides a float fallback for the page layout in case text is shorter or longer
  margin-top: 3em;
}

.about-img {
  max-height: 25em;

  @media (min-width: 42em) {
    float: left;
    margin-right: 1em;
  }
}

.about-title {
  margin-bottom: .25em;
}

.about-subtitle {
  margin: .5em 0;
}

// these items are dependent on the grid, properties that are not dependent can go the the top
@supports (display: grid) {
  .about-me {
    display: grid;
    // here im adding line names instead of numbers as they are easier to read.
    grid-template-columns: [ portfolio-start ] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [portfolio-end];
  }

// * here we want the name to overlap the img...so we need to force the name into the top row
// if we do not add grid-row property then the name will go under the img and not able to fit
// inside the center column.
  .about-img {
    grid-column: portfolio-start / img-end;
    grid-row: 1 / 2; // * this brings the name overlapped over the img
  }

  .about-title {
    grid-column: name-start / portfolio-end;
    grid-row: 1 / 2; // * this brings the name on top the img
    align-self: end; // places the name lower over the img.
  }

  .about-subtitle,
  .about-text {
    grid-column: portfolio-start / portfolio-end;
  }


}
