footer {
  background: $navy-blue;
  padding: 2em 0;
  text-align: center;
}

a.social-icons  {
  @include container($max-width: 15em);

  display: inline-flex;
  justify-content: space-between;
  margin: 1.75em auto 4em;
}


.social-icon {
  padding-top: 2em;
  width: 10%;
  height: 10%;
}

.copyright {
  &::before {
    content:'';
    display: block;
    height: 1px;
    background: rgba($white, .15);
    margin: 2em auto;
    width: 25%;
  }
}
