// hamburger menu button styling
.menu-button {
  position: absolute;
  top: 3em;
  left: 3em;
  background: transparent;
  border: 0;
  outline: none; // removes the chrome input highlighting.
}

// nav styling
nav {
  // slide fix: changed from pos fixed to absolute.
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
  z-index: 10; // overlaps the page

  transform: translateX(-100%); // makes the nav pulldown disappear.
  transition: transform ease-in 250ms; // adds a slide effect over 250ms.
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: stretch;
  background: $accent-color;
}

nav li {
  border-bottom: 1px solid $navy-blue;
  text-align: center;
}

nav li:hover {
  background: rgba($navy-blue, .5); // allows me to stay within color range but adds opacity
}

nav a {
  // set up for making the each row clickable, not just the text...
  display: inline-block;
  @include sans-serif($fs: 4rem, $color: $navy-blue)
  text-decoration: none;
  padding: calc(100vh/8) 0; // this divides the nav into 8 parts
  line-height: 0; // this makes it so the text height is not factored into the calulation.
  width: 100%;
}

.close-menu {
  display: none;
}

// This class is on the body in the index.html file.
// you can test it by adding and deleting the class...the nav with appear and disapear.
// We want to be able to do this with JavaScript...so we will do that instead.
.nav-is-open {
  nav {
    transform: translateX(0);
  }

  .container-all {
    transform: translate(80%);
  }

  .hamburger-menu {
    display: none;
  }

  .close-menu {
    display: block;
  }

  .menu-button {
    transform: translateX(-70%);
  }
}

.container-all {
  transition: transform ease-in 250ms;
}
