.portfolio {
  text-align: center;
  background: $light-grey;
  padding: 5em 0;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  @include container($max-width: 75em);
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  flex: 1 1 20rem;

  .portfolio-img {
    display: block; // this will remove the small space from top an bottom of imgs.
    width: 100%;
  }

   figcaption {
    position: absolute;
    background: rgba($accent-color, .75); // rgba($variable, opacity);
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2em;
    color: $white;
    text-align: left;
    display: flex;
    flex-direction: column; // stacks the text in a column
    transition: top ease-in-out 250ms; // this creates a nice bottom to top wipe style transition.
 }

  &:hover figcaption,
  &:focus figcaption {
    top: 0;
  }
}

.portfolio-title {
  color: $white;
  font-size: 2.5rem;
  margin-bottom: auto;
}

.portfolio-description {
  display: none;
}

.portfolio-link {
  color: $white;
  font-weight: $fw-b;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 3px solid $white;
  align-self: flex-start;

  &::after {
    content: url(../img/arrow-white.svg);
    display: inline-block;
    height: .8em;
    width: .8em;
    margin-left: .5em;
  }
}

@supports (display: grid) {
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-gap: .75em; // may add this later
    @include mq {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .portfolio-item.featured { // this will allow me to send which ever "featured" project to the top.
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .featured {
    .portfolio-title {
      font-size: 5rem;
  }

  .portfolio-description {
    display: block;
    }
  }
}

.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: $white;
  box-shadow:  0 0 0 3em rgba(black, .5);
  overflow-y: scroll;
  overflow-x: hidden;

  display: none;

  &.is-open {
    display: block;
  }
}

.modal-close {
  background: $white;
  position: fixed;
  left: 1em;
  top: 1em;
  border: 0;
  width: 2em;
  height: 2em;
  padding: 4px 0 0; // centers the close icon within the circle.
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(black, .5);
}

.portfolio-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
  background-size: cover;
  // background-position: center;
}

.header-one {
  background-image:  url(../img/slave.png);
}

.header-two {
  background-image:  url(../img/omdbmodal2.png);
}

.header-three {
  background-image:  url(../img/quotestersquare.png);
}

.header-four {
  background-image:  url(../img/portfolio-04.jpg);
}

.header-five {
  background-image:  url(../img/acuwaresquare.png);
}

.portfolio-title-box {
  background: rgba($accent-color, .75);
  padding: 3em 0 3em 3em;
  color: $white;
  width: 70%;


  .portfolio-title {
    font-size: 3.5rem;
    display: inline-block;

    &::after {
      content: '';
      display: block;
      height: 1px;
      margin: .5em 0;
      background: $white;
      width: 100%;
    }
  }
}

.portfolio-subtitle {
  font-size: 1rem;
}

.portfolio-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.portfolio-full-width {
  width: 100vw;
  max-width: initial;
  margin: 2em calc(50% - 50vw);
  // height: 20vh;
  object-fit: cover;
}

@include mq {
  .portfolio-pull-left {
    width: 65%;
    float: left;
    margin-right: 2em;
  }

  .portfolio-pull-right {
    width: 65%;
    float: right;
    margin-left: 2em;
  }
}

// setting up a simple animation
@keyframes modalIn {
  // start of animation
  0% { opacity: 0; }
  100% {opacity: 1; }
}

@keyframes modalOut {
  // start of animation
  0% { opacity: 1; }
  100% {opacity: 0; }
}
