// seeting up google font imports and font families.

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps');

// font-family serif and sans-serif
$ff-s: 'Merriweather', serif;
$ff-ss: 'Six Caps', sans-serif;

// font weights normal and bold
$fw-n: 400;
$fw-b: 900;

// setting up a mixin for added reusability
@mixin sans-serif($fs, $ls: .3em, $color: $dark-grey, $tt: uppercase, $lh: 1 ) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff-ss;
};
